* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de color */
:root {
    --color-fondo: #121212;        /* fondo general oscuro */
    --color-seccion: #1f1f1f;      /* gris oscuro para secciones */
    --color-texto: #e6e6e6;        /* texto claro */
    --color-gris: #b0b0b0;         /* texto secundario */
    --color-acento: #c62828;       /* rojo industrial */
}

/* Tipografía general */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
}


/* Header */
header {
    background-color: #181818;
    padding: 16px 24px;
    text-align: center;
    border-bottom: 4px solid var(--color-acento);

    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--color-texto);
}


/* Secciones */
section {
    background-color: var(--color-seccion);
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px 30px;
    border-radius: 6px;
    scroll-margin-top: 90px;
    
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    border-left: 5px solid var(--color-acento);
    padding-left: 15px;
    color: var(--color-texto);
}

section h3 {
    margin-top: 20px;
}




section p {
    font-size: 1rem;
    color: var(--color-gris);
}

section ul {
    margin-left: 0;
    padding-left: 20px;
}

section li {
    margin-bottom: 6px;
}

/* Contacto */
#contacto p {
    margin-bottom: 10px;
}

#contacto {
    padding: 60px 20px;
}

.contacto-item {
    margin-bottom: 30px;
}

.contacto-item h3 {
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: var(--color-texto);
}

.contacto-item p {
    margin: 4px 0;
    color: var(--color-gris);
}

.contacto-item a {
    text-decoration: none;
    font-weight: 500;
}


/* Footer */
footer {
    background-color: #0d0d0d;
    color: #999999;
    text-align: center;
    padding: 20px;
    font-size: 0.9rem;
}

/* Header contenido */
.header-contenido {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: var(--color-texto);
    font-weight: bold;
    font-size: 0.95rem;
}

nav a:hover {
    color: var(--color-acento);
}


/* Forzar color de links */
a,
a:visited {
    color: var(--color-texto);
    text-decoration: none;
    font-weight: bold;
}

a:hover,
a:active {
    color: var(--color-acento);
}

/* logos */

.certificaciones-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 25px;
}

.certificaciones-logos img {
    width: 250px;
    max-width: 100%;
    height: auto;
}


/* PDF */

.btn-pdf {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 22px;
    background: #c62828;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.btn-pdf:hover {
    background: #a61d1d;
}
